services:

  app:
    build: .
    depends_on:
      - pgmaster
      - pgslave
      - pgasyncslave
    environment:
      POSTGRES_HOST: localhost
      POSTGRES_MASTER_PORT: 5432
      POSTGRES_SLAVE_PORT: 15432
      POSTGRES_SLAVE_SECOND_PORT: 25432
      POSTGRES_USERNAME: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: social_network_db
      SECRET_KEY: SECRET
      EXPIRE_IN: '30m'
    ports:
      - "3000:3000"
    volumes:
      - .:/app/
      - /app/node_modules
    networks:
      - pgnet

  pgmaster:
    container_name: pgmaster
    restart: always
    image: postgres:16-alpine
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: social_network_db
    volumes:
      - pgmaster_data:/var/lib/postgresql/data
    networks:
      - pgnet

  pgslave:
    container_name: pgslave
    restart: always
    image: postgres:16-alpine
    ports:
      - "15432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: social_network_db
    depends_on:
      - pgmaster
    volumes:
      - pgslave_data:/var/lib/postgresql/data
    networks:
      - pgnet

  pgasyncslave:
    container_name: pgasyncslave
    restart: always
    image: postgres:16-alpine
    ports:
      - "25432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: social_network_db
    depends_on:
      - pgmaster
    volumes:
      - pgasyncslave_data:/var/lib/postgresql/data
    networks:
      - pgnet

volumes:
  pgmaster_data:
  pgslave_data:
  pgasyncslave_data:

networks:
  pgnet:
    driver: bridge
