version: "3.9"

services:
  pgmaster:
    image: postgres:16-alpine
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: social_network_db
    volumes:
      - pgmaster_data:/var/lib/postgresql/data

  pgslave:
    image: postgres:16-alpine
    ports:
      - "15432:5432"
    environment:
      POSTGRES_PASSWORD: postgres
      REPLICATION_USER: replicator
      REPLICATION_PASSWORD: pass
      PRIMARY_HOST: pgmaster
    depends_on:
      - pgmaster
    volumes:
      - pgslave_data:/var/lib/postgresql/data

  pgasyncslave:
    image: postgres:16-alpine
    ports:
      - "25432:5432"
    environment:
      POSTGRES_PASSWORD: postgres
      REPLICATION_USER: replicator
      REPLICATION_PASSWORD: pass
      PRIMARY_HOST: pgmaster
    depends_on:
      - pgmaster
    volumes:
      - pgasyncslave_data:/var/lib/postgresql/data

volumes:
  pgmaster_data:
  pgslave_data:
  pgasyncslave_data:
